body {
    background-image: url("background-for-resume-paper-4.jpg");
    background-repeat: no-repeat;
}
h1 {
    font-size: 3em;
}
.container_1 {
    display: grid;
    justify-content: space-around;
    color: red;
    justify-items: center;
    font-family: cursive;
}
p {
    font-size: 1.7em;
}
ul { padding-left: 0%;
}
li{
    margin: 30%;
    margin-left: 0%;
    width: 100%;
}